@font-face {
    font-family: "light walsheim";
    src: local("light walsheim"), url(../fonts/GTWalsheimPro-Light.ttf);
}
@font-face {
    font-family: "regular walsheim";
    src: local("regular walsheim"), url(../fonts/GTWalsheimPro-Regular.ttf);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "regular walsheim", sans-serif;
}
.body-page{
    display: flex;
    flex-direction: column;
    gap: calc(0.6vw + 0.9vh);
    background-color: rgba(250, 248, 255, 1);
    height: 100%;
    width: 100%;
}
.page-hat{
    width: 100%;
    height: calc(3.1vw + 4.8vh);
    display: flex;
    background-color: rgba(229, 232, 251, 1);
    align-items: center;
    justify-content: center;
    gap: calc(6.6vw + 12.2vh);
}
.hat-logo, .enter-to-account{
    color: rgba(153, 144, 156, 1);
    font-size: calc(1.6vw + 2.4vh);
}
.hat-input-container{
    width: calc(25.2vw + 38.8vh);
}
.input-search{
    width: calc(25.2vw + 38.8vh);
    height: calc(1.8vw + 2.8vh);
    border-radius: calc(0.4vw + 0.6vh);
    border: rgba(172, 165, 176, 1) calc(0.06vw + 0.12vh) solid;
    background-color: rgba(217, 222, 255, 1);
    padding-left: calc(0.9vw + 0.5vh);   
    font-size: calc(1.2vw + 1.8vh);
    color: rgba(64, 42, 47, 0.77);
}
.search-image{
    position: absolute;
    width: calc(0.9vw + 1.4vh);
    top: calc(1vw + 2vh);
    margin-left: calc(30vw + 22vh);
}