.urls{
    display: grid;
    flex-direction: column;
    justify-content: center;
    row-gap: clamp(1px, 0.5vw, 5px);
    grid-template-rows: auto auto auto auto auto;
}
.mainUrl{
    display: flex;
    align-items: center;
    height: calc(1.5vw + 2.3vh);
    border-radius: clamp(1px, 0.5vw, 5px);
    background-color: rgba(225, 227, 238, 1);
    padding: 0px clamp(10px, 2vw, 20px);
    flex: 1 1 170px;
}
.mainUrlTitle{
    font-size: clamp(10px, 2vw, 20px);
    color: rgba(64, 42, 47, 1);
}
.url{
    display: flex;
    align-items: center;
    flex: 1 1 170px;
    height: calc(1.5vw + 2.3vh);
    border-radius: clamp(1px, 0.5vw, 5px);
    border: 1px rgba(228, 228, 233, 1) solid;
    background-color: rgba(238, 241, 255, 1);
    padding: 0px clamp(10px, 2vw, 20px);
}
.url:hover{
    cursor: pointer;
    background-color: rgba(225, 227, 238, 1);
    .urlTitle{
        font-family: 'regular walsheim', sans-serif;
    }
}
.mainUrl:hover{
    cursor: pointer;
}
.urlTitle{
    font-size: clamp(10px, 2vw, 20px);
    color: rgba(64, 42, 47, 1);
    font-family: "light walsheim", sans-serif;
}