.pageMain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.registrationModalTitle{
    display: flex;
    flex-direction: column;
    gap: clamp(2px, 2vw, 5px);
    align-items: center;
}
.registrationTitle{
    font-size: clamp(30px, 3vw, 40px);
    font-weight: 500;
}
.registrationSubtitle{
    text-align: center;
    font-weight: 500;
    color: rgba(103, 87, 101, 0.8);
    font-size: clamp(12px, 2vw, 16px);
}
.goToRegistration, .goToLogin{
    text-decoration: underline;
}
a{
    color: rgba(103, 87, 101, 0.8);
}
.nameAndAvatar{
    display: flex;
    gap: clamp(10px, 2vw, 15px);
    width: 100%;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}
.inputTitle{
    font-size: clamp(18px, 2vw, 24px);
    color: rgba(103, 87, 102, 1);
    font-weight: 500;
}
.inputContent{
    width: 100%;
    height: clamp(30px, 5vh, 42px);
    border: 1px solid rgba(228, 228, 233, 1);
    border-radius: 10px;
    padding: 5px;
    font-size: clamp(14px, 2vw, 18px);
    color: rgba(120, 107, 119, 1);
}
.error{
    color: red;
    font-size: clamp(10px, 2vw, 14px);
    font-family: "light walsheim", sans-serif;
}