@font-face {
    font-family: "light walsheim";
    src: local("light walsheim"), url(../../static/fonts/GTWalsheimPro-Light.ttf);
}

.posts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: calc(0.4vw + 0.6vh);
    max-height: calc(25vw + 35vh);
    overflow-y: scroll;
    scrollbar-width: none;
}

.filter{
    display: flex;
    flex-direction: column;
    padding: calc(0.5vw + 0.8vh) calc(0.8vw + 1vh);
    background-color: rgba(238, 241, 255, 1);
    border-radius: calc(0.4vw + 0.6vh);
    gap: calc(0.4vw + 0.6vh);
    width: calc(9.6vw + 14.9vh);
    border: calc(0.08vw + 0.1vh) rgba(228, 228, 233, 1) solid;
}
.titleFilterContainer{
    display: flex;
    justify-content: space-between;
}
.titleFilter{
    font-size: calc(0.8vw + 1.2vh);
    font-family: "light walsheim", sans-serif;
    color: rgba(64, 42, 47, 1);
    font-weight: 600;
}
.titleArrow{
    width: calc(0.5vw + 0.8vh);
}
.filterContainer{
    display: flex;
    flex-direction: column;
    gap: calc(0.1vw + 0.2vh);
}
.filterTitle{
    font-size: calc(0.6vw + 1vh);
    font-family: "light walsheim", sans-serif;
    font-weight: 500;
    color: rgba(99, 82, 89, 0.8)    ;
}
.containerButton{
    display: flex;
    align-items: center;
    gap: calc(0.2vw + 0.4vh);
}
.inputButton{
    width: calc(0.4vw + 0.6vh);
    height: calc(0.4vw + 0.6vh);
    border: calc(0.03vw + 0.05vh) rgba(120, 107, 119, 1) solid;
}
.filterLabel{
    font-size: calc(0.5vw + 0.8vh);
    color: rgba(120, 107, 119, 1);
}