.pageHat{
    width: 100%;
    height: calc(3.1vw + 4.8vh);
    display: flex;
    background-color: rgba(229, 232, 251, 1);
    align-items: center;
    justify-content: space-between;
    padding: 0px calc(1vw + 1.4vh);
}
.hatLogo, .enterToAccount{
    color: rgba(153, 144, 156, 1);
    font-size: calc(1.6vw + 2.4vh);
}
.hatInputContainer{
    width: calc(25.2vw + 38.8vh);
}
.inputSearch{
    width: calc(25.2vw + 38.8vh);
    height: calc(1.8vw + 2.8vh);
    border-radius: calc(0.4vw + 0.6vh);
    border: rgba(172, 165, 176, 1) calc(0.06vw + 0.12vh) solid;
    background-color: rgba(217, 222, 255, 1);
    padding-left: calc(0.9vw + 0.5vh);   
    font-size: calc(1.2vw + 1.8vh);
    color: rgba(64, 42, 47, 0.77);
}
.searchImage{
    position: absolute;
    width: calc(0.9vw + 1.4vh);
    height: calc(0.9vw + 1.4vh);
    top: calc(1vw + 1.5vh);
    margin-left: calc(30vw + 22vh);
}