header{
    display: grid;
    column-gap: clamp(50px, 10vw, 170px);
    align-items: center;
    justify-content: center;
    background-color: rgba(229, 232, 251, 1);
    padding: 0px clamp(24px, 2vw, 35px);
}

.hatLogo, .enterToAccount{
    display: flex;
    flex: 1 0 auto;
    color: rgba(153, 144, 156, 1);
    font-size: clamp(20px, 5vw, 40px);
    justify-content: center;
}
.pageHat{
    grid-template-columns: auto 1fr auto;
}
.logoContainer, .hatProfile{
    text-align: center;
}
.hatInputContainer{
    display: flex;
}
.inputSearch{
    flex: 1 1 auto;
    height: 6vh;
    border-radius: 7px;
    border: 1px rgba(172, 165, 176, 1) solid;
    padding: 0px clamp(15px, 2vw, 21px);
    font-size: clamp(16px, 2vw, 24px);
    background-color: rgba(217, 222, 255, 1);
    color: rgba(64, 42, 47, 0.77);
}
