@font-face {
    font-family: "light walsheim";
    src: local("light walsheim"), url(../../shared/fonts/GTWalsheimPro-Light.ttf);
}
@font-face {
    font-family: "regular walsheim";
    src: local("regular walsheim"), url(../../shared/fonts/GTWalsheimPro-Regular.ttf);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "regular walsheim", sans-serif;
}
.bodyPage{
    display: grid;
    grid-template-rows: 1fr 9fr;
    gap: clamp(3px, 2vw, 15px);
    background-color: rgba(250, 248, 255, 1);
    height: 100vh;
    width: 100vw;
}
.pageMainWithSpinner{
    display: grid;
    padding: 0px clamp(40px, 2vw, 78px);
    grid-template-columns: 1fr 5fr;
    column-gap: clamp(40px, 2vw, 60px);
}
.pageMainWithSpinner{
    align-items: center;
    justify-items: center;
}
.bodyWithModal {
    position: relative;
}
.bluredBodyPage{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 90;
}
.modal{
    position: fixed;
    z-index: 100;
}
a{
    text-decoration: none;
}
@media (width < 767px){
    .pageMain, .pageMainWithSpinner{
        display: grid;
        width: 100%;
        padding: 0px;
        padding-right: clamp(20px, 2vw, 40px);
        grid-template-columns: 1fr 10fr;
        column-gap: clamp(20px, 2vw, 40px);
    }
    .bodyPage{
        grid-template-rows: 1fr 15fr;
    }
}