.modal{
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2vw, 20px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: clamp(15px, 2vw, 28px) clamp(25px, 2vw, 35px);
    background-color: rgba(239, 241, 254, 1);
    border-radius: 15px;
    border: 1px rgba(228, 228, 233, 1) solid;
}
.modalTitle{
    color: rgba(153, 144, 156, 1);
    font-size: clamp(15px, 5vw, 35px);
    font-weight: 500;
    width: 100%;
    text-align: center;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2vw, 20px);
}
.inputContainer{
    display: flex;
    flex-direction: column;
    gap: clamp(2px, 2vw, 6px);
}
.inputTitle{
    font-size: clamp(16px, 2vw, 22px);
    font-weight: 500;
    color: rgba(103, 87, 101, 1);
}
.input{
    border-radius: calc(0.5vw + 0.2vh);
    background-color: rgba(251, 252, 255, 1);
    border: calc(0.05vw + 0.05vh) rgba(228, 228, 233, 1) solid;
    font-size: clamp(12px, 2vw, 20px);
    color: rgba(120, 107, 119, 1);
    padding: clamp(4px, 2vw, 8px);
}
.inputEnterTitle{
    height: clamp(20px, 4vw, 35px);
    width: clamp(250px, 2rem, 360px);
}
.inputEnterText{
    height: clamp(40px, 8vw, 70px);
    width: 100%;
    scrollbar-width: none;
    max-height: clamp(80px, 2vw, 140px);
    min-height: clamp(20px, 4vw, 35px);
    min-width: clamp(400px, 2rem, 560px);
    max-width: clamp(500px, 2rem, 660px);
}
.tags{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(2px, 2vw, 6px);
}
.checkTag{
    cursor: pointer;
    user-select: none;
    border-radius: calc(0.3vw + 0.2vh);
    background-color: rgba(187, 204, 255, 0.45);
    padding: clamp(2px, 2vw, 5px);
}
.inputEnterTag{
    display: none;
}
.tagName{
    all: unset;
    font-size: clamp(14px, 2vw, 18px);
    color: rgba(102, 76, 99, 1);
    font-weight: 500;
}
.plusPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(100px, 2vw, 180px);
    height: clamp(100px, 2vw, 180px);
    background-color: rgba(215, 224, 254, 0.6);
    font-size: clamp(50px, 6vw, 100px);
    color: rgba(152, 144, 160, 1);
    font-weight: 500;
    cursor: pointer;
    border-radius: calc(0.1vw + 1vh);
    
}
.buttonContainer{
    width: 100%;
    text-align: end;
}
.button{
    padding: clamp(5px, 2vw, 10px);
    border-radius: calc(0.2vw + 0.5vh);
    border: calc(0.05vw + 0.03vh) rgba(228, 228, 233, 1) solid;
    background-color: white;
    color: rgba(83, 46, 78, 1);
    cursor: pointer;
    font-size: clamp(16px, 2vw, 18px);
}