@font-face {
    font-family: "light walsheim";
    src: local("light walsheim"), url(./static/fonts/GTWalsheimPro-Light.ttf);
}
@font-face {
    font-family: "regular walsheim";
    src: local("regular walsheim"), url(./static/fonts/GTWalsheimPro-Regular.ttf);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "regular walsheim", sans-serif;
}
.bodyPage{
    display: flex;
    flex-direction: column;
    gap: calc(0.6vw + 0.9vh);
    background-color: rgba(250, 248, 255, 1);
    height: 100%;
    width: 100%;
}
.pageHat{
    width: 100%;
    height: calc(3.1vw + 4.8vh);
    display: flex;
    background-color: rgba(229, 232, 251, 1);
    align-items: center;
    justify-content: space-between;
    padding: 0px calc(1vw + 1.4vh);
}
.hatLogo, .enterToAccount{
    color: rgba(153, 144, 156, 1);
    font-size: calc(1.6vw + 2.4vh);
}
.hatInputContainer{
    width: calc(25.2vw + 38.8vh);
}
.inputSearch{
    width: calc(25.2vw + 38.8vh);
    height: calc(1.8vw + 2.8vh);
    border-radius: calc(0.4vw + 0.6vh);
    border: rgba(172, 165, 176, 1) calc(0.06vw + 0.12vh) solid;
    background-color: rgba(217, 222, 255, 1);
    padding-left: calc(0.9vw + 0.5vh);   
    font-size: calc(1.2vw + 1.8vh);
    color: rgba(64, 42, 47, 0.77);
}
.searchImage{
    position: absolute;
    width: calc(0.9vw + 1.4vh);
    top: calc(1vw + 2vh);
    margin-left: calc(30vw + 22vh);
}
.pageMain{
    display: flex;
    justify-content: center;
    gap: calc(2.4vw + 3.7vh);
}
.urls{
    display: flex;
    flex-direction: column;
    gap: calc(0.2vw + 0.3vh);
}
.mainUrl{
    display: flex;
    align-items: center;
    width: calc(6.6vw + 10.2vh);
    height: calc(1.5vw + 2.3vh);
    border-radius: calc(0.2vw + 0.3vh);
    background-color: rgba(225, 227, 238, 1);
    padding: 0px calc(0.8vw + 1.2vh);
}
.mainUrlTitle{
    font-size: calc(0.8vw + 1.2vh);
    color: rgba(64, 42, 47, 1);
}
.url{
    display: flex;
    align-items: center;
    width: calc(6.6vw + 10.2vh);
    height: calc(1.5vw + 2.3vh);
    border-radius: calc(0.2vw + 0.3vh);
    border: calc(0.04vw + 0.08vh) rgba(228, 228, 233, 1) solid;
    background-color: rgba(238, 241, 255, 1);
    padding: 0px calc(0.8vw + 1.2vh);
}
.url:hover{
    cursor: pointer;
    background-color: rgba(225, 227, 238, 1);
    .urlTitle{
        font-family: 'regular walsheim', sans-serif;
    }
}
.mainUrl:hover{
    cursor: pointer;
}
.urlTitle{
    font-size: calc(0.8vw + 1.2vh);
    color: rgba(64, 42, 47, 1);
    font-family: "light walsheim", sans-serif;
}
